{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <img src={{ object.Poster }}>
        <br>
        {{ object.Title }} - {{ object.Year }}
        <br>
        rating - {{ object.Rating }}
        <br>
        {% for tag in object.movie_tag.values %}
            {{ tag.tag}}
        {% endfor %}
        <div class="col-sm">
            <button name="update"
                    type="button"
                    class="btn btn-outline-info"
                    onclick="location.href='{{ object.get_update_url }}'">
                    Update Movie</button>
    </div>
    </article>
{% endblock %}