{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="width: 150%; justify-content: left">
        <form action="{% url 'movies-save' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-8">
                    {{ movies_form|crispy }}
                </div>
                <div class="col-4" style="border: 1px solid gray">
                    <label>Where to watch</label>
                    {{ user_commit_form|crispy }}
                </div>
            </div>
            <button type="submit">Button</button>
        </form>
    </div>
{% endblock %}