{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section" style="width: 150%">
        <div class="col-6" style="padding-top: 5px">
            <img src={{ object.Poster }}>
        </div>
        <div class='col-6' style="padding-left: 5px">
        <h1>{{ object.Title }} {{ object.Year }}</h1>
        {% if object.Rating == 5 %}
            <img src="/media/rating_icos/rating_5_ico.jpg">
        {% elif object.Rating == 4 %}
            <img src="/media/rating_icos/rating_4_ico.jpg">
        {% elif object.Rating == 3 %}
            <img src="/media/rating_icos/rating_3_ico.jpg">
        {% elif object.Rating == 2 %}
            <img src="/media/rating_icos/rating_2_ico.jpg">
        {% elif object.Rating == 1 %}
            <img src="/media/rating_icos/rating_1_ico.jpg">
        {% elif object.Rating == 0 %}
            <img src="/media/rating_icos/rating_0_ico.jpg">
        {% endif %}
        <p></p>
        <h4>IMBD rating: {{ object.imdbRating }}</h4>
        <h4>Director:</h4>
        <h6>{{ object.Director }}</h6>
        <h4>Actors:</h4>
        <h6>{{ object.Actors }}</h6>
        <h5>Tags:</h5>
        {% for tag in object.movie_tag.values %}
            <li class="tags">{{tag.tag}}</li>
        {% endfor %}
        <h5>Plot:</h5>
        <h6>{{ object.Plot }}</h6>
        <h5>My comments:</h5>
        <h6>{{ object.user_comments }}</h6>
        <h5>Where to watch:</h5>
        {% for location, link in locations.items %}
            {% if link != "" %}
                <h6>{{ location }}:</h6>
                <h6><a class="movie-title" href="{{ link }}">{{ link }}</a></h6>
            {% endif %}
        {% endfor %}
        <h5>IMDB link:</h5>
            <h6><a class="movie-title" href="{{ object.movieURL }}">{{ object.movieURL }}</a></h6>
        </div>
    <br>
    </article>
        <div class="row" style="justify-content: center; width: 150%">
            <button name="update"
                    type="button"
                    class="btn btn-danger"
                    onclick="location.href='{{ object.get_update_url }}'">
                    Update Movie</button>
        </div>
{% endblock %}