{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row row-center">
        <div class="col-md-8">
            <div class="content-section">
                <div class="row">
                <div class="col-6">
                    <form method="POST">
                    {% csrf_token %}
                        <label>
                            <input class="search" type="text" name="search_all" placeholder="Search all Titles">
                        </label>
                        <input class='btn btn-danger' type="submit" value="Search">
                        <br>
                        <label>
                            <input class="search" type="text" name="search_exact" placeholder="Search exact Title">
                        </label>
                        <input class='btn btn-danger' type="submit" value="Search">
                        <br>
                        <label>
                            <input class="search" type="text" name="search_by_id" placeholder="Search by ImdbID">
                        </label>
                        <input class='btn btn-danger' type="submit" value="Search">
                    </form>
                </div>
                <div class="col-6">
                    <h5>If you are not sure about the title, use IMDB site to check movie title</h5>
                    <a href="https://www.imdb.com/">IMDB LINK</a>
                </div>
                </div>
            </div>
            {% if movies %}
                {% if movies.Response == 'False' %}
                    <h1 style="text-align: center">{{ movies.Error }}</h1>
                    <h3 style="text-align: center"><a class="movie-title" href="https://www.imdb.com/">Try to use IMDB browser</a></h3>
                {% else %}
                    {% for movie in movies %}
                        <article class="content-section">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <h2>{{ movie.Title }} - {{ movie.Year }}</h2>
                                    <h3>rating - {{ movie.imdbRating }}</h3>
                                    <small class="text-muted"> IMDB Link: <a href="https://www.imdb.com/title/{{ movie.imdbID }}">
                                        {{ movie.imdbID }}</a></small>
                                </div>
                                <img src="{{ movie.Poster }}">
                                <p class="article-content">{{ movie.Plot }}</p>
                                <form action="{% url 'movies-form' %}" method="POST">
                                {% csrf_token %}
                                    <button class="btn btn-danger"
                                            name="open movie details"
                                            type="submit"
                                            value="{{ movie }}"
                                    >Edit movie details</button>
                                </form>
                            </div>
                        </article>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}